*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


p {
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

h5 span{
    color: purple;

}

.titulo{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.titulo span{
    color: purple;
}

.Portifolio{
    background-color: black;
}

.Portifolio p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.Portifolio h5 {
    color: white;
   font-size: 50px;
   align-items: center;
   border: 20px;
   display: flex;
   justify-content: center;
}

.Portifolio img {
    display: inline;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 390px;
    width: 390px;
}